In [1]:
import numpy as np
import pandas as pd

## Dataを用意する

In [2]:
relation = pd.DataFrame({
    'Apple': [0.6, 0., 0.4, 0.4, 0.7],
    'Orange': [0.5, 0., 1.0, 0.2, 1.0],
    'Watermelon': [1.0, 0., 0., 1.0, 0.2],
    'Banana': [0., 1.0, 0., 0.2, 0.2]
    },
    index=['Circle', 'Slender', 'Flat', 'Big', 'Small'], 
    dtype=np.float64
)
relation

         Apple  Orange  Watermelon  Banana
Circle     0.6     0.5         1.0     0.0
Slender    0.0     0.0         0.0     1.0
Flat       0.4     1.0         0.0     0.0
Big        0.4     0.2         1.0     0.2
Small      0.7     1.0         0.2     0.2

## 推論の関数を定義する

In [3]:
def reason(R, S):
    R_S = np.where(R < S, R, S)
    predict_index = R_S.max(axis=1).argmax()
    predict = R.T.columns[predict_index]
    return predict

In [4]:
S1 = np.array([0.7, 0., 0., 0.8, 0.])
reason(relation.T, S1)

'Watermelon'

In [5]:
S2 = np.array([0.5, 0.3, 0.6, 0., 0.9])
reason(relation.T, S2)

'Orange'

In [6]:
S3 = np.array([0., 0.8, 0., 0.3, 0.5])
reason(relation.T, S3)

'Banana'

In [7]:
S4 = np.array([0., 0., 0., 1.])
reason(relation, S4)

'Slender'

In [8]:
S5 = np.array([0., 1., 0., 0.])
reason(relation, S5)

'Flat'